.inline-text_copy--active{
  color: white;
  box-sizing: border-box;
}
.inline-text_input--active {
  font: inherit;
  color:white;
  opacity: 0.8;
  text-align: inherit;
  padding: 0;
  
  border: none;
  
  outline: none;
  box-sizing: border-box;
}

.inline-text_copy--active {
  cursor: pointer;
  box-sizing: border-box;
}

.inline-text_copy--hidden,
.inline-text_input--hidden {
  display: none;
  border: 1px solid white;
  box-sizing: border-box;
 
  
}

.inline-text input{
  background-color: #121212;
  border:2px solid #2A2438;
  box-sizing: border-box;
}
.inline-text textarea{
  background-color: inherit;
  border:1px solid white;
 text-align: left; 
 box-sizing: border-box;
}
#editableTextArea{
  width:850px;
  height:100px
   
}
#editableInput{
  min-width:50ch;
}
@media only screen and (max-width:800px)
{
  #editableInput{
    min-width:30ch;
  }
 #editableTextArea{
   width: 250px;
 }
}